SUPABASE_URL=https://ndhcqsaxzfvgzwybqjdt.supabase.co
SUPABASE_KEY=sb_publishable_6pDaPO2_KMGqg9l0tsPEgQ_K9VhS7yD

ZAI_API_URL=https://api.ilmu.ai/v1/chat/completions
ZAI_API_KEY=sk-d1db2964132eb763f108aca33d8997676e2c7c1ac7ecb2f8

TESSERACT_CMD_PATH=C:\Program Files (x86)\Tesseract-OCR\tesseract.exe