# Ignore all environment variable files
.env
.env.local
.env.*.local

# Exception for template files
!.env.example

# Ignore virtual environment file (wont work if changing the virtual environment name [need to add if so])
.venv

# Ignore Mac-related hidden file
.DS_Store